.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border: 2px solid black;

}

.div1 { 
    grid-area: 1 / 1 / 2 / 6; 
    border: 2px solid black;
    text-align: center;
}

.div2 {
     grid-area: 2 / 1 / 3 / 6; 
      border: 2px solid black;   
     display: flex;
     gap: 50px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    }
.div3 { 
    grid-area: 3 / 1 / 11 / 5;
     border: 2px solid black;
}
.div4 { 
    grid-area: 11 / 1 / 12 / 2; 
     border: 2px solid black;
}
.div5 { 
    grid-area: 11 / 2 / 12 / 3; 
     border: 2px solid black;
}
.div6 {
     grid-area: 11 / 3 / 12 / 4; 
      border: 2px solid black;
    }
.div7 {
     grid-area: 11 / 4 / 12 / 5; 
      border: 2px solid black;
    }
.div8 { 
    grid-area: 11 / 5 / 12 / 6; 
     border: 2px solid black;
}
.div9 { 
    grid-area: 3 / 5 / 4 / 6; 
     border: 2px solid black;
}
.div10 {
     grid-area: 3 / 5 / 5 / 6;
      border: 2px solid black;
    }
.div11 { 
    grid-area: 5 / 5 / 11 / 6; 
     border: 2px solid black;
}
.div12 {
     grid-area: 12 / 1 / 13 / 6; 
      border: 2px solid black;
    }